<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('https://www.petlife.mx/u/fotografias/m/2024/7/1/f960x540-17925_92000_5050.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2>Bienvenido</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce animate__delay-2s" mat-raised-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://i.pinimg.com/236x/34/31/95/343195464f8a4ba1748de800b4bdaaaf.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2>Compra en línea</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce animate__delay-2s" mat-raised-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://qph.cf2.quoracdn.net/main-qimg-f1ab889182eba912cdfa45955d24a8a4-lq');">
                <div class="carousel-container">
                    <div class="container">
                        <h2>Administra tu tienda</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="animate__animated animate__bounce animate__delay-2s" mat-raised-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chrevron-left"></span>
        </a>
        
        <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chrevron-right"></span>
        </a>

    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus ducimus voluptas dolorem est commodi consectetur ipsa tempore! Exercitationem aliquam harum nihil dolore ratione labore facilis deleniti quo, sunt alias.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo ullam nostrum minus est accusamus architecto voluptate, ipsa non adipisci officia sapiente eius doloremque? Quis maxime porro labore nihil ducimus.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum unde, enim iste adipisci hic distinctio dolor culpa id! Vel quis nam id illum minus architecto tenetur repellendus consequuntur, animi non.
            </p>
        </div>
    </div>
</div>